#projectCard {
  border: 1px black solid;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(158,158,158,0.75);
  width: 30vw;
  margin-top: 15px;
  margin-bottom: 20px;
}

.projectCard img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.projectCard h2 {
  margin-top: 4px;
  margin-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

.projectCard .links {
  display: flex;
  justify-content: end;
}

.projectCard .links a {
  text-align: end;
  padding: 5px;
  text-decoration: none;
  color: black;
}