#sizeIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 10px;
  background-color: #3a522a;
  border-radius: 30%;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 40px;
}

#small {
  display: block;
}

#medium {
  display: none;
}

#large {
  display: none;
}

#exlarge {
  display: none;
}

@media only screen and (min-width: 48em) {
  #small {
    display: none;
  }

  #medium {
    display: block;
  }

  #large {
    display: none;
  }

  #exlarge {
    display: none;
  }
}

@media only screen and (min-width: 64em) {
  #small {
    display: none;
  }

  #medium {
    display: none;
  }

  #large {
    display: block;
  }

  #exlarge {
    display: none;
  }
}

@media only screen and (min-width: 80em) {
  #small {
    display: none;
  }

  #medium {
    display: none;
  }

  #large {
    display: none;
  }

  #exlarge {
    display: block;
  }
}